.inf{width :70%;
    margin: 0 auto;
    
    background: rgb(205,216,248);
    position: relative;
  }
  .inf .list{
      width:20%;
      background: rgb(205,206,211);
      height:810px;
      margin-top:25px;
      margin-bottom: 25px;
      float: left;
      margin-left:30px;
      margin-right:50px;
      border-radius: 1em;
  }
  .inf ul li{list-style-type:none;}
  .inf ul li a:hover{color:red;}
  .inf .list ul a{text-decoration: none;color:black;}
  .inf .new{
      width:66%;
      
      margin-top:25px;
      margin-bottom: 25px;
      background: white;
      border-radius: 1em;
      border:4px solid rgb(196,200,216); 
      position:relative; 
      display: inline-block;
   
  }
  .inf .list ul{
      background: rgb(205,217,219);
  
  
  }

  .inf .list ul .oli{
      margin-top: 40px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: bolder;
      background-image: url(../img/sgn.png); 
      background-size:35px;  
      background-repeat: no-repeat;
      background-position: 0px 8px;
      
  }
  
  .inf .new .jiao{
    height:0px;
    width: 0px;
    position:absolute;
    border:25px solid white  ;
    border-top-color:white ;
    border-right-color:white;
    top:32px;
    left:-22px;
    transform:rotate(45deg);

}
.inf .new::before{
    content:'';
    position:absolute;
    border:25px solid rgb(196,200,216) ;
    top:32px;
    left:-26px;
    transform:rotate(45deg);

}
  .j1,.j2,.j3,.j4,.j5{
      width: 80%;
      margin:0 auto;
 
  }

  .j1,.j2,.j3,.j4,.j5 p{
      border-top:4px;
      overflow: hidden;
      
  }
  
  .j1{height:230px;position: relative;
      
  }

  .j2{height:230px;position: relative;
   }
   .j3{height:230px;position: relative;
      
   }
   .j4{height:230px;position: relative;
      
   }

  .j5{height:330px;}
 .j1 h3{
    border-bottom: solid 6px rgb(98,99,147);
    color: black;
  }
  .j2 h3{
    border-bottom: solid 6px rgb(98,99,147);
    color: black;
    
  }
  .j3 h3{
    border-bottom: solid 6px rgb(98,99,147);
    color: black;
    
  }
  .j4 h3{
    border-bottom: solid 6px rgb(98,99,147);
    color: black;
    
  }
  .j5 h3{
    border-bottom: solid 6px rgb(98,99,147);
    color: black;
  }
.j2 .zhaopian{width:120px;height:140px;}
.j2 .shenfen{width:440px;height:160px;position: absolute;top:80px;right:0px;}
.j2 .shenfen div{float: left;;margin-right:60px;font-weight: bold;}
.j2 .jieshao{width:430px;
    word-wrap:break-word ;
    word-break: break-all;
    float: left;
    
    }
.j1 .zhaopian{width:120px;height:140px;}
.j1 .shenfen{width:440px;height:160px;position: absolute;top:80px;right:0px;}
.j1 .shenfen div{float: left;;margin-right:60px;font-weight: bold;}
.j1 .jieshao{width:430px;
    word-wrap:break-word ;
    word-break: break-all;
    float: left;
    
    }
.j3 .zhaopian{width:120px;height:140px;}
.j3 .shenfen{width:440px;height:160px;position: absolute;top:80px;right:0px;}
.j3 .shenfen div{float: left;;margin-right:60px;font-weight: bold;}
.j3 .jieshao{width:430px;
    word-wrap:break-word ;
    word-break: break-all;
    float: left;
    
    }
.j4 .zhaopian{width:120px;height:140px;}
.j4 .shenfen{width:440px;height:160px;position: absolute;top:80px;right:0px;}
.j4 .shenfen div{float: left;;margin-right:60px;font-weight: bold;}
.j4 .jieshao{width:430px;
    word-wrap:break-word ;
    word-break: break-all;
    float: left;
    
    }

/*.shenfen span{position: absolute;top:60px;right:60px;margin-right:10px;}*/
.rollBox{width:496px;height:210px;margin:0 auto;border:3px solid rgb(98,99,147);padding-top:10px;}
.rollBox .LeftBotton{height:40px;width:21px;background:url(../img/lef.png) no-repeat 0px 2px;overflow:hidden;float:left;display:inline;margin:50px 0 0 0;cursor:pointer;}
.rollBox .RightBotton{height:40px;width:24px;background:url(../img/rigg.png) no-repeat 0px 2px;float:left;display:inline;margin:50px 0 0 0;cursor:pointer;}
.rollBox .Cont{width:430px;float:left;overflow:hidden;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:140px;float:left;text-align:center;}
.rollBox .Cont .pic img{padding:5px;background:#fff;display:block;margin:0 auto;width:100px;height:120px;}
.rollBox .Cont .pic div{line-height:20px;color:#505050;margin:15px 0px;}
.rollBox .Cont .pic div span{display:block;}

.rollBox #List1,.rollBox #List2{float:left;}

