@media screen and (min-width:768px){
html{
    font-size:16px;
}
body{
    margin: 0;
    padding: 0;
}
.buttom{
    display: none;
}
.header{
    background-color: rgb(98,99,147);
    height: 8rem;
    line-height: 6.5rem;
    overflow: hidden;
}
.header span, .header img{
    width:90px;
    height:90px;
    vertical-align: middle;
}
.header span{
    font-family: '楷体';
    color:white;
    font-size:2.5rem; 
}
.header .rowl{
    width: 60%;
    padding-left: 1rem;
    text-align: center;
}
.nav{
    height: 3rem;
    background-color: white;
}
.nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav ul li{
    display: inline-block;
    margin-left: 0.5rem;
    width: 12rem;
    position: relative;
}
.nav ul li:nth-child(1){
    margin-left:0;
}
.nav ul li a{
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    text-decoration:none;
    line-height: 3rem;
}
.nav ul li:hover{
    background: #47A3Da;
    cursor:pointer;
}
.nav ul li:hover a{
    color: black;
}
.nav ul li>ul{
    position: absolute;
    padding: 0;
    background-color: #fff;
    opacity: 0;
}
.nav ul li>ul>li{
    margin: 0;
    padding: 0;
}
.nav ul li:hover ul{
    opacity:1;
    z-index: 3;
    
}
.nav ul li ul>li:hover{
    background: #3B80B7;
    transform: scale(1.2);
    transition:0.5s;
    border-radius:1rem;
}



.demo{
	width: 300px;
}
.search:hover {
	-webkit-box-shadow:0 0 3px #999;
	-moz-box-shadow:0 0 3px #999;
}
.search .sinput {
	float:left;
	width:150px;
	height:24px;
	line-height:24px;
	padding:4px 5px;
	border:#A7A7A7 1px solid;
	background:white;
	color:#888;
	font-size:12px;
	-webkit-transition:.3s;
	-moz-transition:.3s;
    outline: none;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.search .sinput:focus {
	width:220px;
}
.search .sbtn {
    cursor:pointer;
    height:34px;
    font-size:12px;
    padding:0 12px;
    width:60px;
    background:white;
	margin-left:-1px;
	display:inline-block;
    background:#ddd;;
    float:left;
	border:#A7A7A7 1px ;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;

}
#sou{
   width:41px;
   height: 41px;
   position: absolute;
   right:8px;
   top:0px;
   cursor:pointer;
  
}
.search .sbtn:hover {
    background:#fff;
}
.banner{
    position: relative;
    width:70%;
    margin: 0px auto;
}

.mySlide{
    position:absolute;
}
.fade{
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
.buttomer{
    text-align: center;
    position: absolute;
    right:5rem;
    bottom: 2rem;
}
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    /* border-radius: 50%; */
    display: inline-block;
    transition: 0.6s ease;
    border-radius: 50%;
  }
.active{
    background: rgb(98,99,147);
}
.onfooter{
    width:70%;
    background:rgb(238,238,238);
    margin:0 auto;
}
.onfooter ul{
    height:3em;
    margin: 0 ;
    padding: 0;
    text-align: center;
    line-height: 3em;
    

}

.onfooter ul li{
    list-style:none;
    display: inline-block;
    margin-left: 0.5rem;
    width: 12rem;
    font-weight:bold;
}
.footer { 
      width:100%;
      background: rgb(98,99,147);height: 8em;
    }
.footer ul{
    height:2em;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2em;
}
.footer ul li{
    list-style:none;
    display: inline-block;
    margin-left: 0.5rem;
    width:12em;
    font-weight:bold;
    position: relative;;
}
.onfooter ul li:nth-child(1){
    margin-left:0;
}
.footer ul li:nth-child(1){
    margin-left:0;
}
.footer ul li>ul{
    position: absolute;
    padding: 0;
}
.footer ul li>ul>li{
    margin: 0;
    padding: 0;
}





.footer ul li a{text-decoration: none;
    color:rgb(209,209,209);
}
 .footer ul li a:hover{color: red;

 }

}
